<a href="https://colab.research.google.com/github/kabirchhabra/Skillslash/blob/main/NLP/101903328_NLP5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NLP-5
**Submitted by:**
+ Name: Kabir Chhabra 
+ Roll no.: 101903328
+ Batch: 3CO13

In [ ]:
import pandas as pd

In [ ]:
!pip3 install pickle5

Requirement already satisfied: pickle5 in /usr/local/lib/python3.7/dist-packages (0.0.12)

In [ ]:
import pickle5 as pickle

In [ ]:
file = open(b'dtm_stop.pkl', 'rb')
data = pickle.load(file)

In [ ]:
data

,aa,ab,abandoned,abdallah,abducted,abhorring,abiding,ability,able,aboard,...,yuck,yup,zero,zimbabwe,zimmerman,zip,zipline,ziplining,zone,zoo
Amer_Mohammed,0,1,0,1,0,0,0,0,1,0,...,0,2,0,0,0,0,1,1,0,0
Dave_2,0,0,0,0,0,0,2,0,0,0,...,1,0,0,0,6,0,0,0,0,0
Dave_Chappelle,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
Drew_Michael_1,1,0,0,0,0,0,0,2,2,0,...,0,0,0,0,0,0,0,0,0,0
Drew_Michael_2,0,0,1,0,0,0,0,1,5,0,...,0,0,1,0,0,0,0,0,0,0
Jim_Gaffigan,0,0,0,0,0,0,0,0,3,0,...,1,0,0,0,0,0,0,3,0,0
Kathleen,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
Lousi,0,0,0,0,0,0,0,0,1,0,...,0,0,0,2,0,0,0,0,0,9
Phil,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Tom,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
from gensim import matutils, models
import scipy.sparse

In [ ]:
tdm = data.transpose()
tdm.head()

,Amer_Mohammed,Dave_2,Dave_Chappelle,Drew_Michael_1,Drew_Michael_2,Jim_Gaffigan,Kathleen,Lousi,Phil,Tom
aa,0,0,0,1,0,0,0,0,0,0
ab,1,0,0,0,0,0,0,0,0,0
abandoned,0,0,0,0,1,0,0,0,1,0
abdallah,1,0,0,0,0,0,0,0,0,0
abducted,0,0,0,0,0,0,1,0,0,0

+ *Sparse Data:* is a datset where most of the items values are zero.
+ *denser array:* where there are many 0s

---
+ CSC - Compressed Sparse Column. For efficient arithmetic, fast column slicing.
+ CSR - Compressed Sparse Row. For fast row slicing, faster matrix vector products

In [ ]:
sparse_counts = scipy.sparse.csr_matrix(tdm)
#Convert the sparse matrix to corpus, for future use
corpus = matutils.Sparse2Corpus(sparse_counts)

In [ ]:
file = open(b'cv_stop.pkl', 'rb')
cv = pickle.load(file)
#id2word contains words with their frequencies
id2word = dict((v,k) for k,v in cv.vocabulary_.items())

**Topic-2**

LDA: Latent Dirichlet Allocation

+ Topic modelling is a technique to extract the hidden topics from large texts. LDA is one popular algoritm of topic modelling.

+ LDA considers each document as a collection of topics. Once you provide the algorithm with number of topics, all it does is to rearrange the topics distribution and keywords distribution within the topics to obtain good composition of topic-keywords distribution.

+ Topic: A topic is a collection of dominant keywords that are typial representatives, just by looking at the keywords, you can idetnify what the topic is all about.

In [ ]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.007*"said" + 0.006*"fuck" + 0.006*"yeah" + 0.005*"going" + 0.005*"did" + 0.005*"way" + 0.005*"really" + 0.005*"say" + 0.005*"want" + 0.004*"didnt"'),
 (1,
  '0.011*"audience" + 0.006*"chuckling" + 0.005*"want" + 0.005*"laughing" + 0.005*"good" + 0.004*"did" + 0.004*"didnt" + 0.004*"love" + 0.004*"yeah" + 0.003*"make"')]

+ This shows the top 10 keywords that contribute to the topic that is for Topic 1, audience weight is 0.009, this reflects how important a keyword is to that topic.
+ By seeing this, one can get a outlook that what this document is whole about.

In [ ]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.005*"wanna" + 0.004*"did" + 0.004*"didnt" + 0.004*"wife" + 0.003*"kids" + 0.003*"children" + 0.003*"going" + 0.003*"men" + 0.003*"guys" + 0.003*"ill"'),
 (1,
  '0.014*"audience" + 0.009*"fuck" + 0.007*"chuckling" + 0.006*"laughing" + 0.005*"want" + 0.005*"good" + 0.005*"bro" + 0.005*"did" + 0.004*"okay" + 0.004*"love"'),
 (2,
  '0.008*"said" + 0.007*"yeah" + 0.005*"going" + 0.005*"want" + 0.005*"way" + 0.005*"did" + 0.005*"didnt" + 0.005*"say" + 0.005*"really" + 0.004*"make"')]

In [ ]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.013*"fuck" + 0.009*"bro" + 0.008*"okay" + 0.006*"man" + 0.006*"hummus" + 0.006*"did" + 0.005*"going" + 0.005*"want" + 0.005*"little" + 0.004*"say"'),
 (1,
  '0.010*"audience" + 0.008*"yeah" + 0.006*"want" + 0.006*"way" + 0.005*"good" + 0.005*"wanna" + 0.005*"chuckling" + 0.005*"thing" + 0.005*"fuck" + 0.005*"didnt"'),
 (2,
  '0.012*"said" + 0.007*"trans" + 0.006*"say" + 0.005*"didnt" + 0.005*"woman" + 0.005*"going" + 0.005*"did" + 0.004*"mean" + 0.004*"thought" + 0.004*"goes"'),
 (3,
  '0.007*"good" + 0.006*"uh" + 0.006*"old" + 0.006*"chinese" + 0.005*"asian" + 0.004*"wang" + 0.004*"ive" + 0.004*"want" + 0.004*"eyes" + 0.004*"cork"')]

**Attempt-2(Nouns only)**

In [ ]:
import nltk

In [ ]:
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
from nltk import word_tokenize, pos_tag

POS Tagging(Parts of Speech)

In [ ]:
def nouns(text):
    is_noun = lambda pos: pos[:2] == 'NN'   #pos tag command for nouns 'NN'
    tokenized = word_tokenize(text)      #splits text into tokens using NLTK library
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [ ]:
file = open(b'data_clean.pkl', 'rb')
data_clean = pickle.load(file)
data_clean

                                                       Transcript
Amer_Mohammed     ladies and gentleman  you can feel excitemen...
Dave_2          june    is a performance special by comedian d...
Dave_Chappelle       ♪ listen carefully ♪ ♪ this is for my fav...
Drew_Michael_1  this is the latest ive stayed up in a long tim...
Drew_Michael_2  emotional music playing music ends drew michae...
Jim_Gaffigan    thank you thank you oh my gosh thank you so mu...
Kathleen          whoo   ♪ kathleen ♪ ♪ madigan ♪ ♪ kathleen ♪...
Lousi           recorded at the madison square garden on augus...
Phil               all right  wow so nice oh wow gosh thats wa...
Tom             aired december   ♪ please welcome to the stage...

In [ ]:
#Apply the nouns function to the transcirpts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.Transcript.apply(nouns))
data_nouns

                                                       Transcript
Amer_Mohammed   ladies gentleman excitement air texas show roa...
Dave_2          june performance dave chappelle violence ameri...
Dave_Chappelle  ♪ ♪ band beings faithful ♪ evidence things boo...
Drew_Michael_1  time mm yeah i i people youre people sort cros...
Drew_Michael_2  music music people time people audience chuckl...
Jim_Gaffigan    thank thank thank thank thats gon week im itll...
Kathleen        whoo ♪ ♪ ♪ madigan ♪ ♪ ♪ ♪ madigan ♪ ♪ stage s...
Lousi           madison garden ♪♪ ♪♪ ♪ time ♪ ♪ bums dime ♪ di...
Phil            wow thats way keep palladium thank days stage ...
Tom             december please stage thank cleveland ohio tha...

In [ ]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
stop_words = text.ENGLISH_STOP_WORDS.union(['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people', 'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said'])

In [ ]:
#Recreate a document term matrix with only nouns.
cvn = CountVectorizer(stop_words = stop_words)
data_cvn = cvn.fit_transform(data_nouns.Transcript)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns= cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ability,abortion,abraham,abs,absence,abuse,abyss,accent,accents,access,...,youth,youtube,youve,yuck,zimbabwe,zimmerman,zip,ziplining,zone,zoo
Amer_Mohammed,0,0,0,0,0,0,0,2,2,0,...,0,0,1,0,0,0,0,1,0,0
Dave_2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,6,0,0,0,0
Dave_Chappelle,0,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Drew_Michael_1,2,0,0,1,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
Drew_Michael_2,1,1,0,0,1,0,0,0,0,2,...,0,0,4,0,0,0,0,0,0,0
Jim_Gaffigan,0,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,0
Kathleen,0,0,1,0,0,0,0,0,0,0,...,0,0,4,0,0,0,1,0,0,0
Lousi,0,0,0,0,0,0,0,1,0,0,...,0,2,1,0,1,0,0,0,0,9
Phil,0,0,0,0,0,0,1,11,3,0,...,1,0,2,0,0,0,0,0,0,0
Tom,0,0,0,0,0,0,0,0,0,0,...,0,1,2,0,0,0,0,0,1,0

In [ ]:
#Create gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

#Create vocabulary dicitonary
id2wordn = dict((v,k) for k,v in cvn.vocabulary_.items())

In [ ]:
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word = id2word,passes=10)
ldan.print_topics()

[(0,
  '0.005*"detroit" + 0.005*"joeys" + 0.004*"felt" + 0.004*"chain" + 0.004*"contraceptive" + 0.004*"bypass" + 0.003*"award" + 0.003*"mall" + 0.003*"appalled" + 0.003*"nader"'),
 (1,
  '0.011*"angeles" + 0.009*"nader" + 0.007*"defeat" + 0.007*"biological" + 0.007*"mall" + 0.006*"cutouts" + 0.006*"felt" + 0.006*"fast" + 0.006*"malaysia" + 0.005*"chain"')]

In [ ]:
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word = id2word,passes=10)
ldan.print_topics()

[(0,
  '0.000*"nader" + 0.000*"angeles" + 0.000*"felt" + 0.000*"biological" + 0.000*"mall" + 0.000*"halftime" + 0.000*"joeys" + 0.000*"malaysia" + 0.000*"detroit" + 0.000*"defeat"'),
 (1,
  '0.010*"angeles" + 0.009*"nader" + 0.007*"mall" + 0.007*"biological" + 0.007*"defeat" + 0.007*"felt" + 0.006*"cutouts" + 0.006*"chain" + 0.006*"detroit" + 0.006*"fast"'),
 (2,
  '0.000*"biological" + 0.000*"defeat" + 0.000*"malaysia" + 0.000*"angeles" + 0.000*"cutouts" + 0.000*"chain" + 0.000*"nader" + 0.000*"newscaster" + 0.000*"memorys" + 0.000*"felt"')]

In [ ]:
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word = id2word,passes=10)
ldan.print_topics()

[(0,
  '0.008*"felt" + 0.008*"defeat" + 0.007*"malaysia" + 0.007*"biological" + 0.006*"forgettable" + 0.006*"cutouts" + 0.006*"era" + 0.006*"chain" + 0.005*"nader" + 0.005*"bananas"'),
 (1,
  '0.009*"memorys" + 0.009*"defeat" + 0.009*"biological" + 0.009*"newscaster" + 0.007*"felt" + 0.006*"nader" + 0.005*"joeys" + 0.005*"halftime" + 0.005*"blind" + 0.005*"bucket"'),
 (2,
  '0.000*"nader" + 0.000*"defeat" + 0.000*"mall" + 0.000*"angeles" + 0.000*"detroit" + 0.000*"felt" + 0.000*"chain" + 0.000*"cutouts" + 0.000*"joeys" + 0.000*"biological"'),
 (3,
  '0.021*"angeles" + 0.011*"nader" + 0.010*"mall" + 0.007*"cutouts" + 0.007*"joeys" + 0.007*"detroit" + 0.007*"halftime" + 0.006*"fast" + 0.006*"malleable" + 0.006*"malaysia"')]

# Topic Modeling
Attempt: 3 (Nouns and Adjectives)

In [ ]:
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [ ]:
data_nouns_adj = pd.DataFrame(data_clean.Transcript.apply(nouns_adj))
data_nouns_adj

                                                       Transcript
Amer_Mohammed   ladies gentleman excitement air houston texas ...
Dave_2          june performance special comedian dave chappel...
Dave_Chappelle  ♪ ♪ ♪ favorite band human beings faithful grac...
Drew_Michael_1  latest ive long time mm cranky yeah i uh i peo...
Drew_Michael_2  emotional music music drew nice people hard ti...
Jim_Gaffigan    thank gosh thank much thank much thank thats n...
Kathleen        whoo ♪ kathleen ♪ ♪ madigan ♪ ♪ ♪ ♪ madigan ♪ ...
Lousi           madison square garden august ♪♪ ♪♪ ♪ time fine...
Phil            right wow nice wow gosh thats way nice keep lo...
Tom             aired december ♪ please stage tom papa thank g...

In [ ]:
#Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.Transcript)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ab,abandoned,ability,able,abolish,abortion,abraham,abs,absence,abstract,...,youth,youtube,youve,yuck,zimbabwe,zimmerman,zip,ziplining,zone,zoo
Amer_Mohammed,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
Dave_2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,6,0,0,0,0
Dave_Chappelle,0,0,0,3,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Drew_Michael_1,0,0,2,2,0,0,0,3,0,0,...,0,0,3,0,0,0,0,0,0,0
Drew_Michael_2,0,0,1,5,0,1,0,0,1,0,...,0,0,4,0,0,0,0,0,0,0
Jim_Gaffigan,0,0,0,3,0,0,0,0,0,0,...,1,0,3,1,0,0,0,0,0,0
Kathleen,0,0,0,1,0,0,1,0,0,0,...,0,0,4,0,0,0,1,0,0,0
Lousi,0,0,0,1,1,0,0,0,0,0,...,0,2,1,0,1,0,0,0,0,9
Phil,0,1,0,0,0,0,0,0,0,6,...,1,0,5,0,0,0,0,0,0,0
Tom,0,0,0,0,0,0,0,0,0,1,...,0,1,2,0,0,0,0,0,1,0

In [ ]:
#create gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

#Create vocabulary dicitonary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [ ]:
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.018*"audience" + 0.008*"fuck" + 0.006*"shit" + 0.006*"trans" + 0.006*"cause" + 0.005*"black" + 0.004*"gay" + 0.004*"everybody" + 0.004*"chappelle" + 0.004*"bitch"'),
 (1,
  '0.007*"cause" + 0.006*"shit" + 0.005*"fuck" + 0.004*"okay" + 0.004*"bro" + 0.003*"chinese" + 0.003*"eyes" + 0.003*"mom" + 0.003*"ass" + 0.003*"look"')]

In [ ]:
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.011*"fuck" + 0.009*"shit" + 0.008*"bro" + 0.006*"okay" + 0.006*"hummus" + 0.004*"baby" + 0.004*"chinese" + 0.004*"black" + 0.004*"bitch" + 0.004*"asian"'),
 (1,
  '0.028*"audience" + 0.007*"fuck" + 0.007*"cause" + 0.004*"na" + 0.004*"shit" + 0.004*"look" + 0.003*"family" + 0.003*"everybody" + 0.003*"mom" + 0.003*"house"'),
 (2,
  '0.010*"cause" + 0.007*"trans" + 0.005*"shit" + 0.005*"black" + 0.005*"gay" + 0.004*"fuck" + 0.003*"id" + 0.003*"chappelle" + 0.003*"face" + 0.003*"everybody"')]

In [ ]:
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.009*"chinese" + 0.008*"asian" + 0.007*"shit" + 0.006*"eyes" + 0.006*"cork" + 0.006*"body" + 0.005*"balls" + 0.005*"wang" + 0.004*"farts" + 0.004*"accent"'),
 (1,
  '0.023*"audience" + 0.012*"fuck" + 0.006*"shit" + 0.006*"bro" + 0.006*"cause" + 0.005*"okay" + 0.004*"hummus" + 0.004*"everybody" + 0.003*"ass" + 0.003*"car"'),
 (2,
  '0.016*"trans" + 0.009*"black" + 0.008*"chappelle" + 0.008*"shit" + 0.007*"community" + 0.007*"gay" + 0.006*"bitch" + 0.005*"cause" + 0.005*"audience" + 0.004*"joke"'),
 (3,
  '0.010*"cause" + 0.005*"look" + 0.005*"wife" + 0.004*"shit" + 0.004*"fuck" + 0.004*"children" + 0.004*"face" + 0.004*"mom" + 0.004*"baby" + 0.004*"house"')]

In [ ]:
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(1, 'Amer_Mohammed'),
 (1, 'Dave_2'),
 (2, 'Dave_Chappelle'),
 (3, 'Drew_Michael_1'),
 (1, 'Drew_Michael_2'),
 (3, 'Jim_Gaffigan'),
 (1, 'Kathleen'),
 (3, 'Lousi'),
 (0, 'Phil'),
 (3, 'Tom')]

# Identify Topics in Each Document

In [ ]:
lda_noun_adj = models.LdaModel(corpus=corpusna, num_topics=4, id2word = id2wordna, passes=80 )
for topics,topwords in lda_noun_adj.show_topics():
  print("Topic", topics, "\n", topwords, "\n")

Topic 0
 0.027*"audience" + 0.012*"fuck" + 0.007*"bro" + 0.005*"okay" + 0.005*"hummus" + 0.005*"everybody" + 0.005*"look" + 0.005*"shit" + 0.004*"ass" + 0.004*"cause"

Topic 1
 0.011*"cause" + 0.008*"trans" + 0.005*"black" + 0.005*"shit" + 0.004*"chappelle" + 0.004*"gay" + 0.004*"community" + 0.004*"children" + 0.003*"bitch" + 0.003*"car"

Topic 2
 0.007*"shit" + 0.006*"mom" + 0.006*"cause" + 0.005*"wan" + 0.005*"fuck" + 0.005*"na" + 0.004*"shower" + 0.004*"dick" + 0.004*"body" + 0.004*"date"

Topic 3
 0.009*"shit" + 0.007*"chinese" + 0.006*"fuck" + 0.005*"black" + 0.005*"balls" + 0.005*"baby" + 0.005*"fucking" + 0.005*"asian" + 0.005*"eyes" + 0.004*"cork"

In [ ]:
#Let's have alook at which transcripts these topics occurs
corpus_transformed = lda_noun_adj[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(0, 'Amer_Mohammed'),
 (3, 'Dave_2'),
 (1, 'Dave_Chappelle'),
 (2, 'Drew_Michael_1'),
 (0, 'Drew_Michael_2'),
 (1, 'Jim_Gaffigan'),
 (1, 'Kathleen'),
 (3, 'Lousi'),
 (3, 'Phil'),
 (0, 'Tom')]

# Assignment

+ Try further modifying the parameters of the topic models above and see if you can get better topics.
+ Create a new topic model that includes terms from a different part of speech and see if you can get better topics.

In [ ]:
import numpy as np
ldana = models.LdaModel(corpus=corpusna, id2word = id2wordna, num_topics=4, random_state=100, passes=100, alpha='auto', update_every=1, chunksize=100)
for topic, topwords in lda_noun_adj.show_topics():
  print("Topic", topic, "\n", topwords, "\n")

Topic 0
 0.027*"audience" + 0.012*"fuck" + 0.007*"bro" + 0.005*"okay" + 0.005*"hummus" + 0.005*"everybody" + 0.005*"look" + 0.005*"shit" + 0.004*"ass" + 0.004*"cause"

Topic 1
 0.011*"cause" + 0.008*"trans" + 0.005*"black" + 0.005*"shit" + 0.004*"chappelle" + 0.004*"gay" + 0.004*"community" + 0.004*"children" + 0.003*"bitch" + 0.003*"car"

Topic 2
 0.007*"shit" + 0.006*"mom" + 0.006*"cause" + 0.005*"wan" + 0.005*"fuck" + 0.005*"na" + 0.004*"shower" + 0.004*"dick" + 0.004*"body" + 0.004*"date"

Topic 3
 0.009*"shit" + 0.007*"chinese" + 0.006*"fuck" + 0.005*"black" + 0.005*"balls" + 0.005*"baby" + 0.005*"fucking" + 0.005*"asian" + 0.005*"eyes" + 0.004*"cork"

In [ ]:
def noun_adj_adv(text):
  is_noun_adj_adv = lambda pos:pos[:2]=='NN' or pos[:2] == 'JJ' or pos[:2]=='RB'   #RB for adverbs
  tokenized = word_tokenize(text)
  nouns_adj = [word for (word,pos) in pos_tag(tokenized) if is_noun_adj_adv(pos)]

  return ' '.join(nouns_adj)

In [ ]:
data_naa = pd.DataFrame(data_clean['Transcript'].apply(noun_adj_adv))
data_naa

                                                       Transcript
Amer_Mohammed   ladies gentleman excitement air here houston t...
Dave_2          june performance special comedian dave chappel...
Dave_Chappelle  ♪ carefully ♪ ♪ favorite band human beings fai...
Drew_Michael_1  latest ive long time too usually mm yeah crank...
Drew_Michael_2  emotional music music drew nice people hard ti...
Jim_Gaffigan    thank gosh thank so much thank so much thank t...
Kathleen        whoo ♪ kathleen ♪ ♪ madigan ♪ ♪ ♪ ♪ madigan ♪ ...
Lousi           madison square garden august ♪♪ ♪♪ ♪ once time...
Phil            right wow so nice wow gosh thats way now so ni...
Tom             aired december ♪ please stage tom papa thank s...

In [ ]:
cvn_aa = CountVectorizer(stop_words = stop_words, max_df=.8)
data_cvnaa= cvn_aa.fit_transform(data_naa['Transcript'])
data_dtmnaa = pd.DataFrame(data_cvnaa.toarray(), columns=cvn_aa.get_feature_names_out())
data_dtmnaa.index = data_naa.index
data_dtmnaa

,ab,abandoned,ability,able,abolish,abortion,abraham,abs,absence,absolutely,...,youtube,youve,yuck,yup,zimbabwe,zimmerman,zip,ziplining,zone,zoo
Amer_Mohammed,1,0,0,1,0,0,0,0,0,1,...,0,1,0,1,0,0,0,1,0,0
Dave_2,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,6,0,0,0,0
Dave_Chappelle,0,0,0,3,0,0,0,0,0,2,...,1,0,0,0,0,0,0,0,0,0
Drew_Michael_1,0,0,2,2,0,0,0,3,0,2,...,0,5,0,0,0,0,0,0,0,0
Drew_Michael_2,0,0,1,5,0,1,0,0,1,0,...,0,5,0,0,0,0,0,0,0,0
Jim_Gaffigan,0,0,0,3,0,0,0,0,0,0,...,0,5,1,0,0,0,0,0,0,0
Kathleen,0,0,0,1,0,0,1,0,0,1,...,0,6,0,0,0,0,1,0,0,0
Lousi,0,0,0,1,1,0,0,0,0,0,...,2,1,0,0,1,0,0,0,0,9
Phil,0,1,0,0,0,0,0,0,0,4,...,0,6,0,0,0,0,0,0,0,0
Tom,0,0,0,0,0,0,0,0,0,0,...,1,5,0,0,0,0,0,0,1,0

In [ ]:
# Create the gensim corpus
corpusnaa = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmnaa.transpose()))

# Create the vocabulary dictionary
id2wordnaa = dict((v, k) for k, v in cvn_aa.vocabulary_.items())

In [ ]:
ldanaa = models.LdaModel(corpus=corpusnaa, num_topics=2, id2word=id2wordnaa, passes=10)
for topic, topwords in ldanaa.show_topics():
    print("Topic", topic, "\n", topwords, "\n")

Topic 0
 0.017*"audience" + 0.008*"shit" + 0.006*"fuck" + 0.006*"trans" + 0.005*"black" + 0.004*"cause" + 0.003*"chappelle" + 0.003*"body" + 0.003*"bitch" + 0.003*"everybody"

Topic 1
 0.008*"cause" + 0.007*"fuck" + 0.005*"okay" + 0.004*"bro" + 0.004*"baby" + 0.004*"shit" + 0.004*"look" + 0.003*"ass" + 0.003*"children" + 0.003*"everybody"

In [ ]:
ldanaa = models.LdaModel(corpus=corpusnaa, num_topics=3, id2word=id2wordnaa, passes=10)
for topic, topwords in ldanaa.show_topics():
    print("Topic", topic, "\n", topwords, "\n")

Topic 0
 0.017*"audience" + 0.012*"fuck" + 0.007*"shit" + 0.006*"okay" + 0.005*"cause" + 0.005*"everybody" + 0.004*"look" + 0.004*"bro" + 0.003*"fucking" + 0.003*"baby"

Topic 1
 0.009*"trans" + 0.008*"cause" + 0.006*"black" + 0.005*"shit" + 0.005*"chappelle" + 0.004*"community" + 0.004*"gay" + 0.004*"bitch" + 0.003*"car" + 0.003*"fuck"

Topic 2
 0.006*"cause" + 0.005*"chinese" + 0.004*"body" + 0.004*"asian" + 0.004*"wife" + 0.004*"pandemic" + 0.004*"shit" + 0.004*"eyes" + 0.004*"cork" + 0.003*"children"

In [ ]:
ldanaa = models.LdaModel(corpus=corpusnaa, num_topics=4, id2word=id2wordnaa, passes=10)
for topic, topwords in ldanaa.show_topics():
    print("Topic", topic, "\n", topwords, "\n")

Topic 0
 0.011*"fuck" + 0.009*"bro" + 0.008*"okay" + 0.007*"hummus" + 0.006*"ass" + 0.005*"look" + 0.005*"shit" + 0.004*"everybody" + 0.004*"cause" + 0.004*"family"

Topic 1
 0.009*"shit" + 0.008*"trans" + 0.008*"black" + 0.006*"fuck" + 0.005*"gay" + 0.005*"chappelle" + 0.005*"cause" + 0.004*"bitch" + 0.004*"chinese" + 0.004*"community"

Topic 2
 0.012*"cause" + 0.005*"mom" + 0.004*"children" + 0.004*"car" + 0.004*"house" + 0.004*"wan" + 0.003*"shit" + 0.003*"wife" + 0.003*"face" + 0.003*"nice"

Topic 3
 0.056*"audience" + 0.009*"fuck" + 0.004*"love" + 0.003*"everybody" + 0.003*"twitter" + 0.003*"emotional" + 0.003*"thoughts" + 0.003*"yelp" + 0.003*"chuckles" + 0.003*"sarcastically"